In [31]:
import os
import numpy as np
import pandas as pd
import astropy.units as u

from astropy.io import ascii
from astropy.coordinates import SkyCoord

In [13]:
# Get the YSE data
yse_df =  pd.read_csv(os.path.join('/Users/adamboesky/Research/ay98/clean_data/parsnip_results_for_ysedr1_table_A1_full_for_online.csv'))
yse_df

,Object,RA,Dec,Spec. Class,"Redshift, $z$",Prediction,Confidence,p_SNII,p_SNIa,p_SNIbc
0,2019lbi,190.088004,1.273998,SNII,0.038,SNIa,0.497,0.278,0.497,0.225
1,2019pmd,49.599161,-1.930453,SNIa-norm,0.026,SNIa,0.972,0.002,0.972,0.026
2,2019ppi,133.897475,49.160259,SNII,0.135,SNII,0.495,0.495,0.173,0.332
3,2019szh,147.176208,-8.734392,SNIa-norm,0.053,SNIa,1.000,0.000,1.000,0.000
4,2019tvv,177.772596,21.767258,SNIa-norm,0.059,SNIa,1.000,0.000,1.000,0.000
...,...,...,...,...,...,...,...,...,...,...
1970,2021ztz,3.111527,17.197566,NaN,0.218,SNIa,1.000,0.000,1.000,0.000
1971,2021zuf,359.456425,19.746603,NaN,0.150,SNII,0.623,0.623,0.342,0.035
1972,2021zvo,16.923117,2.357817,NaN,0.222,SNIa,0.992,0.003,0.992,0.005
1973,2021zvx,2.696850,17.396661,NaN,0.196,SNIa,0.993,0.001,0.993,0.006
1974,2021zzv,68.583044,-8.624821,SNII,0.031,SNII,0.997,0.997,0.001,0.002

In [5]:
# Get the TNS data
tns_df = pd.read_csv('/Users/adamboesky/Research/ay98/clean_data/TNS_sebastian.csv')
tns_df

,objid,name_prefix,name,ra,declination,redshift,typeid,type,reporting_groupid,reporting_group,...,source_group,discoverydate,discoverymag,discmagfilter,filter,reporters,time_received,internal_names,creationdate,lastmodified
0,144554,AT,2024agb,208.775842,20.484827,NaN,NaN,NaN,74.0,ALeRCE,...,ZTF,2024-01-15 12:28:30.996,18.6162,110.0,g,"A. Munoz-Arancibia, F.E. Bauer, F. Forster, G....",2024-01-15 23:21:17,ZTF19acvevgj,2024-01-15 23:21:25,2024-01-15 23:21:25
1,144553,AT,2024aga,166.214166,-24.620634,NaN,NaN,NaN,74.0,ALeRCE,...,ZTF,2024-01-15 11:33:23.000,20.0899,111.0,r,"A. Munoz-Arancibia, F.E. Bauer, F. Forster, G....",2024-01-15 23:21:17,ZTF23aadpohs,2024-01-15 23:21:25,2024-01-15 23:21:25
2,144552,AT,2024afz,170.642371,18.687674,NaN,NaN,NaN,74.0,ALeRCE,...,ZTF,2024-01-13 10:59:11.000,20.5269,110.0,g,"A. Munoz-Arancibia, F.E. Bauer, F. Forster, G....",2024-01-15 23:21:17,ZTF24aabvgpr,2024-01-15 23:21:24,2024-01-15 23:21:24
3,144551,AT,2024afy,176.352770,-5.089675,NaN,NaN,NaN,74.0,ALeRCE,...,ZTF,2024-01-13 11:33:32.003,19.7632,110.0,g,"A. Munoz-Arancibia, F.E. Bauer, F. Forster, G....",2024-01-15 23:21:17,ZTF24aabvpvi,2024-01-15 23:21:23,2024-01-15 23:21:23
4,144550,AT,2024afx,144.033801,60.300372,NaN,NaN,NaN,74.0,ALeRCE,...,ZTF,2024-01-13 07:07:12.003,20.3214,110.0,g,"A. Munoz-Arancibia, F.E. Bauer, F. Forster, G....",2024-01-15 23:21:17,ZTF24aabxnem,2024-01-15 23:21:22,2024-01-15 23:21:22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131636,6336,SN,2013hj,138.026210,-15.429440,NaN,10.0,SN II,NaN,NaN,...,NaN,2013-12-12 00:00:00.000,14.0000,NaN,NaN,"Antezana, Pignata et al.",2021-02-20 10:34:14,NaN,2015-12-31 10:59:55,2015-12-31 10:59:55
131637,6309,SN,2013gj,40.291670,-21.024780,NaN,10.0,SN II,NaN,NaN,...,NaN,2013-11-10 00:00:00.000,17.5000,NaN,NaN,A.J. Drake et al.,2021-02-17 11:24:00,NaN,2015-12-31 10:59:55,2015-12-31 10:59:55
131638,6201,SN,2013cj,256.220630,12.919560,NaN,13.0,SN IIn,NaN,NaN,...,NaN,2013-05-09 00:00:00.000,18.1000,NaN,NaN,"Jin, Z.; Gao, X.; Xingming Sky Survey",2021-03-04 11:18:11,NaN,2015-12-31 10:59:55,2015-12-31 10:59:55
131639,6196,SN,2013ce,173.961670,34.284080,NaN,11.0,SN IIP,NaN,NaN,...,NaN,2013-05-01 00:00:00.000,17.3000,NaN,NaN,iPTF,2017-09-08 16:23:17,iPTF13ce,2015-12-31 10:59:55,2015-12-31 10:59:55
131640,6158,SN,2013at,282.547040,30.349860,NaN,11.0,SN IIP,NaN,NaN,...,NaN,2013-03-19 00:00:00.000,16.9000,NaN,NaN,S. Shurpakov,2021-03-11 10:43:52,NaN,2015-12-31 10:59:55,2015-12-31 10:59:55

In [20]:
# Get an unclassified mask for the YSE data
unclassified_mask = pd.isnull(yse_df['Spec. Class'])

In [45]:
def angular_separation_astropy(ra1, dec1, ra2, dec2):
    """
    Calculate the angular separation between two points in the sky using astropy.
    ra1, dec1: Right ascension and declination of the first point in degrees.
    ra2, dec2: Right ascension and declination of the second point in degrees.
    
    Returns:
    Angular separation in arcseconds.
    """
    # Create SkyCoord objects for the two points
    coord1 = SkyCoord(ra=ra1*u.degree, dec=dec1*u.degree, frame='icrs')
    coord2 = SkyCoord(ra=ra2*u.degree, dec=dec2*u.degree, frame='icrs')
    
    # Calculate angular separation using the separation method
    sep = coord1.separation(coord2)
    
    # Convert separation to arcseconds
    sep_arcsec = sep.arcsec
    
    return sep_arcsec

In [76]:
# Assuming yse_sne and panstarr_df are your dataframes and have 'ra' and 'dec' columns
tns_classifications = []
for index, row in yse_df[unclassified_mask].iterrows():

    # Calculate angular separations to all yse_sne points
    separations = angular_separation_astropy(row['RA'], row['Dec'], tns_df['ra'].to_numpy(), tns_df['declination'].to_numpy())

    # Check if all separations are greater than 2 arcsecond
    if np.any(separations < 2):
        sn_loc = np.argmin(separations)

        # If the TNS is classified
        if isinstance(tns_df['type'][sn_loc], (str, int, float)):
            tns_classifications.append(tns_df['type'][sn_loc])
        else:
            tns_classifications.append(np.NaN)
    else:
        tns_classifications.append(np.NaN)

pd.DataFrame(tns_classifications).value_counts()

SN Ic    1
Name: count, dtype: int64

In [63]:
i=131640
isinstance(tns_df['type'][i], str), tns_df['type'][i]

(True, 'SN IIP')

In [66]:
len(tns_classifications)

1483

In [67]:
yse_df[unclassified_mask]

,Object,RA,Dec,Spec. Class,"Redshift, $z$",Prediction,Confidence,p_SNII,p_SNIa,p_SNIbc
5,2019ucc,49.642135,-4.429429,NaN,0.066,SNIbc,0.870,0.005,0.125,0.870
6,2019uev,142.706471,30.871843,NaN,0.060,SNIbc,0.779,0.019,0.202,0.779
9,2019ulo,133.278015,-6.329666,NaN,0.041,SNII,0.986,0.986,0.004,0.010
10,2019unp,142.397468,35.289745,NaN,0.145,SNIa,0.996,0.001,0.996,0.003
11,2019vuz,112.309986,42.076944,NaN,0.210,SNIa,0.466,0.218,0.466,0.316
...,...,...,...,...,...,...,...,...,...,...
1968,2021zqv,335.188258,7.040550,NaN,0.139,SNIa,0.997,0.000,0.997,0.003
1970,2021ztz,3.111527,17.197566,NaN,0.218,SNIa,1.000,0.000,1.000,0.000
1971,2021zuf,359.456425,19.746603,NaN,0.150,SNII,0.623,0.623,0.342,0.035
1972,2021zvo,16.923117,2.357817,NaN,0.222,SNIa,0.992,0.003,0.992,0.005
1973,2021zvx,2.696850,17.396661,NaN,0.196,SNIa,0.993,0.001,0.993,0.006